.body{
    color:blue;
}
=======
body{
    background-color: #001829;
}
p {
    font-size: 18px;
    font-family: raleway;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: raleway;
    color: white;
    font-weight: 500;
}

h2{
    color: white;
    font-family: raleway;
    font-size: 20px;
    text-align: center;
    font-weight: 350;
}

.icons i {
	font-size: 3em;
    color: white;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

.icons i {
	padding: 10px;
}
.image {
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.button{
    margin-top: 15px;
    font-size: 35px;
    background: white;
    font-family: raleway;
    padding: 20px;
    border-radius: 3px;
    
}

.button:hover {
    background-color: #e5f2ff;
